* {
  box-sizing: border-box;
}
#root {
  width: 980px;
  margin: 0 auto;
}

.App {
  margin: 40px;
  padding: 60px;
  border: 1px solid grey;
  border-radius: 10px;
  background: lightgrey;
}

h2 {
  margin-top: 20px;
  font-size: 30px;
  text-align: center;
}

.todoBar {
  margin-bottom: 30px;
}

input {
  font-size: 20px;
  width: 500px;
  padding: 10px;
}
button {
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  margin-right: 0px;
  background-color: #0066ff;
  color: #fff;
  border: 2px solid #0066ff;
  border-radius: 10px;
}
