* {
  box-sizing: border-box;
}
body {
  font-family: "Courgette", cursive;
}
#root {
  width: 980px;
  margin: 0 auto;
}

.App {
  padding: 60px;
  border: 1px solid grey;
  border-radius: 10px;
  background: rgb(252, 167, 137);
}
.header {
  display: flex;
  align-items: center;
}
.task-icon {
  color: rgb(26, 243, 243);
  font-size: 60px;
  margin-right: 40px;
}
h2 {
  font-size: 60px;
}

.todoBar {
  margin-bottom: 50px;
}
.search-bar {
  width: 100%;
  margin-bottom: 20px;
  background-color: rgb(250, 250, 223);
}

input {
  font-size: 20px;
  width: 520px;
  padding: 10px;
  border-radius: 10px;
}

button {
  padding: 10px 20px;
  font-family: "Courgette", cursive;
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
  margin-right: 0px;
  background-color: rgb(26, 243, 243);
  color: black;
  border: 2px solid rgb(26, 243, 243);
  border-radius: 10px;
  border: 1px solid white;
  height: 50px;
}

.task {
  font-size: 30px;
}
